body, html, div, ul, li, p, span, b, h1, h2, h3, h4, h5, h6, label, input {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

img {
    vertical-align: top;
    border: none;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* --- Modification Purexo --- */
/* inspiré par https://www.screenfeed.fr/blog/personnaliser-les-scrollbars-webkit-0366/ */
/* Et reprise du travail existant */
::-webkit-scrollbar {
    width: 14px;
    border-radius: 4px;
}
::-webkit-scrollbar-track-piece {						/* Fond */
	background: transparent none;
	border: solid 4px transparent;
	border-right-width: 8px;
	margin: 4px;
}
::-webkit-scrollbar-track-piece:horizontal {				/* Fond pour la barre du bas */
	border-right-width: 4px;
	border-bottom-width: 8px;
}
::-webkit-scrollbar-thumb {								/* Barre */
	border: solid 0 transparent;
	border-right-width: 4px;
	-webkit-border-radius: 5px;
	-webkit-border-top-right-radius: 9px 5px;
	-webkit-border-bottom-right-radius: 9px 5px;
	-webkit-box-shadow: inset 0 0 0 1px rgb(176,162,230), inset 0 0 0 6px rgb(176,162,230);
	-webkit-box-shadow: inset 0 0 0 1px rgb(245,245,245), inset 0 0 0 6px rgb(245,245,245);
}
::-webkit-scrollbar-thumb:hover {						/* Barre */
	-webkit-box-shadow: inset 0 0 0 1px rgb(245,245,245), inset 0 0 0 6px rgb(245,245,245);
	-webkit-box-shadow: inset 0 0 0 1px #ded9f4, inset 0 0 0 6px #ded9f4;
}
::-webkit-scrollbar-thumb:horizontal {					/* Barre du bas */
	border-right-width: 0;
	border-bottom-width: 4px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px 9px;
	-webkit-border-bottom-left-radius: 5px 9px;
}

iframe {
    border: 0;
}

body, html {
    height: 100%;
    overflow-x: hidden;
}

fieldset {
    background: rgba(60,20,20,0.2);
    border: none;
    color: #FFF;
    min-height: 100px;
    margin-bottom: 17px;
    padding: 10px;
    width: 90%;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    margin-top: 10px;
}
    fieldset:hover legend {
        background: #C2185B;
    }
    fieldset legend {
        background: #E91E63;
        padding: 3px 10px;
        font-family: Exo;
        margin-left: 30px;
        -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    }
    fieldset ol li {
        list-style: circle;
    }

#IE {
    width: 100%;
    height: 100%;
    background: #311B92;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}
    #IE > p {
        width: 300px;
        background: #FFF;
        margin: auto;
        color: #333;
        padding: 10px;
        border-radius: 2px;
        margin-top: 100px;
    }

/* --- CENTERING CSS --- */
.global {
    width: 80%;
    max-width: 900px;
    height: inherit;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .global {
        width: 95%;
    }
}

#pixie {
	z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background:-o-linear-gradient(top, #212121, #311B92);
	background:-ms-linear-gradient(top, #212121, #311B92);
	background:-moz-linear-gradient(top, #212121, #311B92);
	background:-webkit-linear-gradient(top, #212121, #311B92);
	background:linear-gradient(top, #212121, #311B92);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#212121', EndColorStr='#311B92');
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#212121', EndColorStr='#311B92')";
}

.corn {
    -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
    cursor: pointer;
    border-radius: 10px;
    -moz-border-radius: 10px;
}
.corn:hover {
    background: #E91E63;
}

body {
    font-family: Exo, Calibri;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    /*background: #263238; */
}
    body > #popup {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 999;
        background: rgba(20,0,0,0.8);
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: none;
        -webkit-transition: 0.2s linear;
                transition: 0.2s linear;
    }
        body > #popup > .content {
            width: 500px;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            background: rgba(10,10,10,0.92);
            color: #FFF;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            position: relative;
        }
            body > #popup > .content > .close {
                height: 30px;
                padding: 0 10px;
                position: absolute;
                right: 20px;
                top: 30px;
                background: #FFF;
                color: #333;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-transition: 0.2s linear;
                        transition: 0.2s linear;
            }
                body > #popup > .content > .close:hover {
                    cursor: pointer;
                    background: #DCE775;
                }
            body > #popup > .content h2 {
                color: #29B6F6;
                margin: 10px 0;
            }
            body > #popup > .content h3 {
                color: #DCE775;
                margin: 10px 0;
            }
            body > #popup > .content strong {
                color: #E1F5FE;
            }

    /* --- HEADER CSS --- */
    body > header {
        height: 200px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
        margin-top: 20px;
    }
        body > header:hover > .text span {
            color: #FFF176;
        }
        body > header > .text {
            height: inherit;
            margin-left: 20px;
            color: #FFF;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-shadow: 1px 1px 10px rgba(10,10,10,0.4);
        }
            body > header > .text h1 {
                font-size: 35px;
                line-height: 1;
                -webkit-transition: all 0.2s linear;
                        transition: all 0.2s linear;
            }
            body > header > .text span {
                font-size: 18px;
                color: #DCE775;
                -webkit-transition: all 0.2s linear;
                        transition: all 0.2s linear;
            }

        body > header > img {
            -webkit-transition: all 0.2s linear;
                    transition: all 0.2s linear;
        }
            body > header > img:hover {
                -webkit-transform: rotate(80deg);
                    -ms-transform: rotate(80deg);
                        transform: rotate(80deg);
            }

        body > header > .social {
            width: 50px;
            height: inherit;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            margin-right: 10px;
        }
            body > header > .social > a {
                width: 50px;
                height: 50px;
                overflow: hidden;
                -webkit-transition: 0.2s linear;
                        transition: 0.2s linear;
                border-radius: 80px;
            }
                body > header > .social > a:hover {
                    background: rgba(30,30,30,0.5);
                    cursor: pointer;
                }
                body > header > .social > a + a {
                    margin-top: 10px;
                }
                body > header > .social > a > img {
                    width: inherit;
                    height: inherit;
                }

    /* --- main CSS --- */
    body > main {
        margin-top: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
    }
        body > main > .global {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                -ms-flex-direction: column;
                    flex-direction: column;
        }

            body > main > .global > h1 {
                height: 35px;
                text-shadow: 1px 1px 10px rgba(10,10,10,0.4);
                border-bottom: 3px solid #29B6F6;
                color: #29B6F6;
                border-radius: 4px;
                margin: 20px 0;
                font-weight: bold;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                    -ms-flex-align: center;
                        align-items: center;
                -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                        flex-shrink: 0;
            }
                body > main > .global > h1 a {
                    margin-left: auto;
                    color: #333;
                    font-size: 16px;
                    background: #DCE775;
                    text-shadow: none;
                    height: 25px;
                    padding: 0 10px;
                    border-radius: 2px;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-transition: 0.2s linear;
                            transition: 0.2s linear;
                }
                    body > main > .global > h1 a:hover {
                        cursor: pointer;
                        background: #FFF;
                    }

            body > main > .global > #actu h2 {
                height: 25px;
                color: #DCE775;
                border-bottom: 3px solid #DCE775;
                margin-bottom: 10px;
                border-radius: 4px;
                font-size: 20px;
            }

            body > main > .global > #actu {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
                body > main > .global > #actu > .sub {
                    margin-left: -10px;
                    margin-top: -10px;
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    -webkit-box-align: center;
                    -webkit-align-items: center;
                        -ms-flex-align: center;
                            align-items: center;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
                    body > main > .global > #actu > .sub  > .twitter {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -webkit-flex-direction: column;
                            -ms-flex-direction: column;
                                flex-direction: column;
                        -webkit-flex-basis: 480px;
                            -ms-flex-preferred-size: 480px;
                                flex-basis: 480px;
                        margin-left: 10px;
                        margin-top: 10px;
                        -webkit-box-align: center;
                        -webkit-align-items: center;
                            -ms-flex-align: center;
                                align-items: center;
                        color: #FFF;
                    }

                    body > main > .global > #our_blog {
                        color: #FFF;
                        -webkit-box-flex: 1;
                        -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                                flex-grow: 1;
                        height: 500px;
                        overflow-y: auto;
                    }

                        body > main > .global > #our_blog > .billet {
                            background: rgba(20,20,20,0.2);
                            border-radius: 2px;
                            padding: 10px;
                            margin-right: 10px;
                        }

                            body > main > .global > #our_blog > .billet .title {
                                color: #DCE775;
                                -webkit-transition: all 0.2s linear;
                                        transition: all 0.2s linear;
                            }

                            body > main > .global > #our_blog > .billet hr {
                                border: none;
                                background: rgba(150,150,150,0.35);
                                height: 1px;
                            }

                            body > main > .global > #our_blog > .billet .description {
                                font-size: 15px;
                                text-align: justify;
                            }
                                body > main > .global > #our_blog > .billet .description strong {
                                    color: #F0F4C3;
                                }

                            body > main > .global > #our_blog > .billet + .billet {
                                margin-top: 10px;
                            }

                            body > main > .global > #our_blog > .billet > a {
                                font-weight: bold;
                            }
                            body > main > .global > #our_blog > .billet > a:hover {
                                color: #F0F4C3;
                            }

                    body > main > .global > #actu > .sub  > .videos {
                        -webkit-box-flex: 1;
                        -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                                flex-grow: 1;
                        -webkit-flex-basis: 400px;
                            -ms-flex-preferred-size: 400px;
                                flex-basis: 400px;
                        margin-left: 10px;
                        margin-top: 10px;
                    }
                        body > main > .global > #actu > .sub  > .videos > #video_container {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-flex-wrap: wrap;
                                -ms-flex-wrap: wrap;
                                    flex-wrap: wrap;
                            margin-left: -10px;
                            margin-top: -10px;
                        }

                        body > main > .global > #actu > .sub  > .videos > #video_container > iframe {
                            box-shadow: 1px 1px 10px rgba(10,10,10,0.2);
                            margin-top: 10px;
                            margin-left: 10px;
                            -webkit-box-flex: 1;
                            -webkit-flex-grow: 1;
                                -ms-flex-positive: 1;
                                    flex-grow: 1;
                            -webkit-flex-basis: 320px;
                                -ms-flex-preferred-size: 320px;
                                    flex-basis: 320px;
                        }

            body > main > .global > #our_games {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                min-width: 450px;
            }
                body > main > .global > #our_games > #games_container {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    margin-left: -10px;
                    margin-top: -10px;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
                    body > main > .global > #our_games > #games_container .games {
                        margin-left: 10px;
                        margin-top: 10px;
                        height: 160px;
                        -webkit-flex-basis: 400px;
                            -ms-flex-preferred-size: 400px;
                                flex-basis: 400px;
                        -webkit-box-flex: 1;
                        -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                                flex-grow: 1;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        padding: 10px;
                        -webkit-transition: all 0.2s linear;
                                transition: all 0.2s linear;
                        overflow: hidden;
                    }
                        body > main > .global > #our_games > #games_container .games:hover .other h2 {
                            color: #DCE775;
                        }
                        body > main > .global > #our_games > #games_container .games .cover {
                            height: 160px;
                            width: 180px;
                            box-sizing: border-box;
                            border: 1px solid rgba(20,20,20,0.6);
                            box-shadow: 1px 1px 20px rgba(20,20,20,0.6);
                            overflow: hidden;
                            -webkit-flex-shrink: 0;
                                -ms-flex-negative: 0;
                                    flex-shrink: 0;
                        }
                            body > main > .global > #our_games > #games_container .games .cover img {
                                width: inherit;
                                height: inherit;
                            }

                        body > main > .global > #our_games > #games_container .games .other {
                            margin-left: 10px;
                            -webkit-box-flex: 1;
                            -webkit-flex-grow: 1;
                                -ms-flex-positive: 1;
                                    flex-grow: 1;
                            color: #FFF;
                            position: relative;
                        }
                            body > main > .global > #our_games > #games_container .games .other h2 {
                                font-size: 24px;
                                -webkit-transition: all 0.2s linear;
                                        transition: all 0.2s linear;
                            }
                            body > main > .global > #our_games > #games_container .games .other .description {
                                font-size: 14px;
                                text-align: justify;
                                max-width: 100%;
                                box-sizing: border-box;
                            }
                            body > main > .global > #our_games > #games_container .games .other .download {
                                background: #E91E63;
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                -webkit-align-self: flex-start;
                                    -ms-flex-item-align: start;
                                        align-self: flex-start;
                                -webkit-transition: all 0.2s linear;
                                        transition: all 0.2s linear;
                                height: 30px;
                            }
                                body > main > .global > #our_games > #games_container .games .other .download a {
                                    padding: 0 10px;
                                    height: inherit;
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-box-align: center;
                                    -webkit-align-items: center;
                                        -ms-flex-align: center;
                                            align-items: center;
                                }
                                body > main > .global > #our_games > #games_container .games .other .download:hover {
                                    cursor: pointer;
                                    background: #D81B60;
                                }

            body > main > .global > #our_project {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                color: #FFF;
                min-width: 450px;
                text-align: justify;
            }

            body > main > .global > #our_team {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
            }
                body > main > .global > #our_team > .join_us_discord {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 30px;
                }
                    body > main > .global > #our_team > .join_us_discord > h3 {
                        color: #FFF;
                        margin-bottom: 3px;
                    }
                    body > main > .global > #our_team > .join_us_discord > a {
                        height: 70px;
                        background: none;
                        padding: 5px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: #06F;
                        box-sizing: border-box;
                        position: relative;
                    }
                        body > main > .global > #our_team > .join_us_discord > a:hover ~ h3 {
                            color: #DCE775 !important;
                        }
                        body > main > .global > #our_team > .join_us_discord > a > img {
                            max-width: 100%;
                            height: inherit;
                        }

                body > main > .global > #our_team > .team {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-wrap: wrap;
                        -ms-flex-wrap: wrap;
                            flex-wrap: wrap;
                    margin-left: -15px;
                    margin-top: -15px;
                    -webkit-box-pack: center;
                    -webkit-justify-content: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                }
                    body > main > .global > #our_team > .team .member {
                        -webkit-flex-basis: 380px;
                            -ms-flex-preferred-size: 380px;
                                flex-basis: 380px;
                        height: 100px;
                        margin-left: 15px;
                        margin-top: 15px;
                        -webkit-box-flex: 1;
                        -webkit-flex-grow: 1;
                            -ms-flex-positive: 1;
                                flex-grow: 1;
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                            -ms-flex-pack: center;
                                justify-content: center;
                    }
                        body > main > .global > #our_team > .team .avatar {
                            border-radius: 150px;
                            width: 100px;
                            overflow: hidden;
                            background: #000;
                            box-shadow: 1px 1px 10px rgba(10,10,10,0.4);
                            -webkit-flex-shrink: 0;
                                -ms-flex-negative: 0;
                                    flex-shrink: 0;
                        }
                            body > main > .global > #our_team > .team .avatar img {
                                width: inherit;
                                height: auto;
                            }

                        body > main > .global > #our_team > .team .social {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -webkit-flex-direction: column;
                                -ms-flex-direction: column;
                                    flex-direction: column;
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                            width: 35px;
                            margin-left: 10px;
                        }
                            body > main > .global > #our_team > .team .social > a {
                                width: 35px;
                                height: 35px;
                                overflow: hidden;
                                border-radius: 35px;
                                -webkit-transition: 0.2s linear;
                                        transition: 0.2s linear;
                            }
                                body > main > .global > #our_team > .team .social > a:hover {
                                    background: rgba(30,30,30,0.5);
                                    cursor: pointer;
                                }
                                body > main > .global > #our_team > .team .social > a + a {
                                    margin-top: 5px;
                                }
                                body > main > .global > #our_team > .team .social > a > img {
                                    width: inherit;
                                    height: inherit;
                                }

                        body > main > .global > #our_team > .team .other {
                            margin-left: 10px;
                            -webkit-box-flex: 1;
                            -webkit-flex-grow: 1;
                                -ms-flex-positive: 1;
                                    flex-grow: 1;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-orient: vertical;
                            -webkit-box-direction: normal;
                            -webkit-flex-direction: column;
                                -ms-flex-direction: column;
                                    flex-direction: column;
                            -webkit-box-pack: center;
                            -webkit-justify-content: center;
                                -ms-flex-pack: center;
                                    justify-content: center;
                        }
                            body > main > .global > #our_team > .team .other > strong {
                                font-size: 20px;
                                color: #FFF;
                                text-shadow: 1px 1px 10px rgba(10,10,10,0.4);
                            }
                            body > main > .global > #our_team > .team .other > .pseudo {
                                color: #FFE;
                            }
                            body > main > .global > #our_team > .team .other > .role {
                                color: #DCE775;
                            }

            body > main > .global > #our_project strong {
                color: #DCE775;
            }


            body > main > .global > #our_tools {
                color: #FFF;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                min-width: 450px;
                text-align: justify;
            }
                body > main > .global > #our_tools a {
                    color: #F0F4C3;
                    text-decoration: underline;
                }
                body > main > .global > #our_tools strong {
                    color: #DCE775;
                }
                body > main > .global > #our_tools img {
                    max-width: 100%;
                }

            body > main > .global > #recrutement {
                color: #FFF;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                        flex-direction: column;
                text-align: justify;
            }
                body > main > .global > #recrutement strong {
                    color: #DCE775;
                }
                body > main > .global > #recrutement > span {
                    -webkit-align-self: center;
                        -ms-flex-item-align: center;
                            align-self: center;
                    padding: 10px;
                    background: #DCE775;
                    color: #263238;
                    font-size: 18px;
                    margin-top: 35px;
                }

    /* --- FOOTER CSS --- */
    body > footer {
        margin-top: 100px;
        background: rgba(60,20,20,0.2);
        height: 25px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        color: #FFF;
        padding: 10px 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
                flex-shrink: 0;
    }
        body > footer > .global > p {

        }

        body > footer > .global  > ul {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-left: auto;
        }
            body > footer > .global  > ul li {
                text-decoration: underline;
            }
                body > footer > .global  > ul li:hover {
                    color: #DCE775;
                    cursor: pointer;
                }
                body > footer > .global  > ul li + li {
                    margin-left: 25px;
                }
